@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-evenly;
}

footer {
    width: 100vw;
    background: #f1f1f1;
    text-align: center;
    padding: 1em 0;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.home-desc {
    /* margin: auto; */
    outline: 1px solid rgb(0, 0, 0);
    padding: 1em;
    border-radius: 1em;
}

.menu-item {
    display: flex;
    margin: 1em;

    outline: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
    padding: 1em;

    .detail {
        flex-basis: 70%;

        .menu-item-name {
            font-size: 2em;
            font-weight: 500;
        }

        .menu-item-price {
            font-size: 1.5em;
        }

        .menu-item-desc {
            font-size: 2em;
        }
    }

    .menu-image {
        flex-basis: 30%;

        img {
            width: 100%;
            border-radius: 100%;
            aspect-ratio: 1/1;
        }
    }
}
